.cube_frame {
    margin: 0 10%;
    margin-top: 50px;
    width: 80%;
    height: 400px;

    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 8px #afafaf;
    background-color: #8b8b8b;
    transition: background 1s;

    display: flex;
    justify-content: center;
    align-items: center;

    perspective: 1000px;
}

.cube_box {
    position: relative;
    top: -10px;
    width: 300px;
    height: 300px;

    transform:  rotateX(60deg) rotateZ(45deg);
    transform-style: preserve-3d;

    animation: rolling 10s infinite linear;
}

.cube_outer {
    position: absolute;

    width: 100%;
    height: 100%;
}

.cube_outer>div {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 200px;
    height: 200px;
    /* ---定位居中--- */

    background-color: #c8c8c8;
    box-shadow: 0px 0px 2px #c8c8c8;
    opacity: 0.4;

    transition: background 1s;
}

.cube_inner {
    position: absolute;

    top: 50px;
    left: 50px;

    width: 200px;
    height: 200px;

}

.cube_inner>div {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 100px;

    background-color: #eeeee0;
    box-shadow: 0px 0px 16px #eeeee0;
    opacity: 0.4;

    transition: background 1s;
}

/* --- */

.cube_outer>div:nth-child(1) {
    transform: translateZ(-100px);
}

.cube_outer>div:nth-child(2) {
    transform: translateZ(100px);
}

.cube_outer>div:nth-child(3) {
    transform: translateY(100px) rotateX(90deg);
}

.cube_outer>div:nth-child(4) {
    transform: translateY(-100px) rotateX(90deg);
}

.cube_outer>div:nth-child(5) {
    transform: translateX(100px) rotateY(90deg);
}

.cube_outer>div:nth-child(6) {
    transform: translateX(-100px) rotateY(90deg);
}

.cube_inner>div:nth-child(1) {
    transform: translateZ(-50px);
}

.cube_inner>div:nth-child(2) {
    transform: translateZ(50px);
}

.cube_inner>div:nth-child(3) {
    transform: translateY(50px) rotateX(90deg);
}

.cube_inner>div:nth-child(4) {
    transform: translateY(-50px) rotateX(90deg);
}

.cube_inner>div:nth-child(5) {
    transform: translateX(50px) rotateY(90deg);
}

.cube_inner>div:nth-child(6) {
    transform: translateX(-50px) rotateY(90deg);
}

@keyframes rolling {
    0% {
        transform: rotateX(60deg) rotateZ(60deg) rotateZ(45deg) translateZ(0px);
    }

    50% {
        transform: rotateX(60deg) rotateZ(240deg) rotateZ(45deg) translateZ(30px);
    }

    100% {
        transform: rotateX(60deg) rotateZ(420deg) rotateZ(45deg) translateZ(0px);
    }
}

/* --- */

.config_frame {
    margin-top: 50px;
    box-sizing: border-box;
    padding: 20px 10%;
    width: 100%;
}

.config_cube {
    margin: 0;
    margin-bottom: 50px;
    width: 100%;
    background-color: #eaeaea;
}

.config_cube:nth-last-child(1) {
    margin-bottom: 0px;
}

.submit_info_frame {
    display: flex;
    justify-content: space-between;
}

.prop_frame {
    padding: 15px 0;
    width: 100%;
}

.prop_frame input {
    float: left;
    width: 75px;
}

.prop_frame input.wider {
    width: 120px;
}

.prop_box {
    float: left;
}

.prop_box .right {
    float: right;
}

.prop_name {
    float: left;
    line-height: 50px;
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* --- */

.prop_scroll_frame {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 5px 40px;
}

.prop_scroll_box {
    position: relative;
    float: right;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    background-color: #cdcdcd;
    box-shadow: 0px 0px 4px #dcdcdc;
}

.scroll_btn {
    position: absolute;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 100%;
    box-sizing: border-box;
    background-color: #fafafa;
    border: 2px solid #dcdcdc;
    /* box-shadow: 0px 0px 2px #8b8b8b inset; */
}