header {
  position: absolute;
  z-index: 1;
  top: 325px;
  width: 100%;
  height: 50px;
  line-height: 50px;
}

.main_frame {
  box-sizing: border-box;
  width: 1070px;
  margin: 0 auto;
}

.nav_line {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #afafaf;
  box-shadow: 0px 0px 4px #cdcdcd;
}

.nav_list {
  margin: 0 10px;
  height: auto;
}

.nav_list.left {
  width: 120px;
  float: left;
}

.nav_list.right {
  width: 160px;
  float: right;
}

.nav_item {
  text-align: center;
  color: #6b6b6b;
  font-size: 16px;
  font-weight: lighter;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
  float: left;
  width: 100%;
  height: 100%;
  padding: 0 15px;
}

.nav_item:hover {
  transition: all 0.4s;
  color: #8d8d8d;
  background-color: #cdcdcd;
}

.nav_selection {
  display: none;
  float: left;
  width: 100%;
  border: 1px solid #bfbfbf;
  border-top: 1px solid #cdcdcd;
  box-sizing: border-box;
  background-color: #dcdcdc;
  color: #6b6b6b;
  text-align: center;
  font-size: 14px;
}

.nav_selection > li {
  float: left;
  width: 100%;
  height: 45px;
  line-height: 45px;
  box-sizing: border-box;
}

.nav_selection > li:hover {
  transition: all 0.3s;
  color: #8d8d8d;
}

.nav_selection > li:last-child {
  border-bottom: unset;
}

.nav_selection > i {
  float: left;
  width: 75%;
  height: 0px;
  border-top: 1px solid #6b6b6b;
  margin: 0 12.5%;
}

main > .main_frame {
  padding-top: 50px;
}

.topline_img {
  width: 100%;
  height: 325px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.content_frame {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
}

.content {
  box-sizing: border-box;
  margin: 25px 1%;
  padding: 20px 30px;
  width: 98%;
  background-color: #e6e6e6;
  overflow: hidden;
}

.content > h2 {
  text-align: left;
  text-indent: 0em;
  color: #4b4b4b;
  font-size: 36px;
  font-weight: normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 20px 10px 0;
}

.content > .divider {
  width: 98%;
  height: 0;
  margin: 20px 1%;
  margin-top: 19px;
  border-top: 1px solid #4b4b4b;
}

.content > p {
  text-align: left;
  text-indent: 1em;
  line-height: 28px;
  color: #6b6b6b;
  font-size: 16px;
  font-weight: normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
  padding: 5px 1%;
}

.content a {
  color: #7692B4;
}

.content a:hover {
  color: #A2B5CD;
  text-decoration: underline;
}

.content .avator_frame {
  margin-top: 5px;
  height: 60px;
  float: right;
  overflow: hidden;
}

.content .avator_frame > * {
  float: left;
}

.content .avator_frame > .avator_info {
  text-align: center;
  color: #6b6b6b;
  font-size: 16px;
  font-weight: lighter;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content .avator_frame > .avator_info > .avator_name {
  color: #7692B4;
}

.content .avator_frame > .avator_info > .avator_name:hover {
  color: #A2B5CD;
  text-decoration: underline;
}

.content .avator_frame > .avator {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 1px solid #6b6b6b;
}
